/* font-family: 'Oswald', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Anton', sans-serif; */

body {
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    }
  
#jonSnow { 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

#logo:hover {
  background: #5e7f7e;
}


  * {
    box-sizing: border-box;
    }
  
  /* general */
  
#main-container {
    background: url("../images/road.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 186px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: calc(100vh - 70px);
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
  
.navbox {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
}

.container {
    position: relative;
    top: 5px;
    width: 80%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    background: rgba(204, 204, 204, 0.0);
    border: 4px solid #17a2b8;
    text-align: center;
}

.containerAbout {
    position: relative;
    top: 5px;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    background: rgba(204, 204, 204, 0.0);
    border: 8px solid #17a2b8;
    text-align: left;
}
  
#headshot {
    float: left;
    border: 3px solid #17a2b8;
    border-radius: 2%;
    width: 175px;
    height: auto;
    /* margin-top: 12px;  */
    margin: 35px   
}
  
h1,
h2,
h3,
p {
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 10px;
    
}
  
h1,
h2,
h3 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    color: #17a2b8;
}
  
h1 {
    padding-bottom: 20px;
    font-size: 65px;
    line-height: 49px;
    border-bottom: 3px solid #17a2b8;
    margin-top: 15px;
    text-shadow: -2px 2px white;
}
  
h2,
h3 {
    font-size: 22px;
}

p {
    font-size: 44px;
    color: #fff;
}

.aboutP {
    font-size:30px;
}

#h1About {
    padding-left: 0px;
    margin-left: 0px;
    font-size: 60px;
}
  
  /* header */
  
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100px;
    margin: 0px;
    overflow: auto;
    color: #fff;
    background: #666;
    border-bottom: 8px solid #17a2b8;
}
  
#logo {
    position: relative; 
    left: -216px;
    top: 10px;
    width: 250px;
    height: 90px;
    font-family: 'Oswald', sans-serif;
    text-shadow: -3px 3px #666;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #17a2b8;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbox {
    background: #666;
    color: #efefef;
}

.navbar {
    position: relative;
    top: -62px;
    left: 295px;
    background: #666;
}
  
.navbar a{
    margin-top: 0px;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 45px;
    color: #efefef;
    text-decoration: none;
    border-left: 3px solid #17a2b8;
    font-weight: bold;
    font-size: 40px;
    text-shadow: -2px 2px #17a2b8;
}

nav a:hover {
    color: #5e7f7e;
}

    /* footer */
  
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #17a2b8;
    height: 69px;
}

  /* main */
  
.pics {
    width: 100%;
    height: 260px;
    border: 2px solid #17a2b8;
    margin-right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: -50px;
}

#portLabel {
    color: #17a2b8;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin-top: 15px;
}
  
  /* portfolio page */
  
#piclabels {
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    text-shadow: -2px 2px #666;
    position: relative;
    bottom: 12px;
    left: 1px;
    width: 99%;
    padding: 15px 5px 15px 5px;
    margin-left: 1px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #17a2b8;
    border-bottom: 0;
    opacity: 0.8;
}

.social:hover {
    cursor: pointer;
    opacity: 0.7;
}
  
.row{
    padding-top: 0px;
    padding-bottom: 0px; 
    margin-top: 0px;
    margin-bottom: 0px;
}
 
    /* contact page */

form {
    /* padding: 20px; */
}

.bttnRow {
    margin-left: 0px;
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}

.col-form-label {
    font-size: 30px;
    color: white;
    text-shadow: -2px 2px #17a2b8;
    font-family: 'Oxygen', sans-serif;
    
}

button {
    font-size: 30px;
}

.btn-primary:hover {
    background: #5e7f7e;
}
  
.fab {
    font-size: 175px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-left: 25px;
    margin-right: 25px;
    color: #17a2b8;
    text-shadow: -2px 2px white;
}

#connect {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.connect {
    font-size: 50px;
    text-shadow: -2px 2px white;
}

#hire {
    padding: 5px;
    margin: 5px;
    color: #efefef;
    font-family: 'Oxygen', sans-serif;
}